{% extends 'base.html' %}

{% block titulo %} Productos {% endblock %}
    
{% block Content %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar producto</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        
        <div class="table-responsive-md">
            <table class="table table-primary">
                <thead>

                    {% for producto in productos %}
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">01</td>
                        <td>Kong</td>
                        <td>imagen.jpg</td>
                        <td> Juguete de larga duracion, y entretencion para los amigos de la casa</td>
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'editar' %}" role="button">Editar</a>|<a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}
