

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href=" style.css">
    
    <title>{% block title %} CatDogs PetShop {% endblock %}</title>

</head>
<body>

    <div class="head">

        <div class="logo">
            <a href="#">CatDogs_Chile</a>
        </div>

        <nav class="navbar">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'producto' %}">Productos</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'contacto' %}">Contactanos</a>
        </nav>

    </div>
    {%block content %} {% endblock %}


    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>
            ¿Qué es una mascota?
        

        <div class="btn-home">
            <a href="#" class="btn">Saber mas!!!</a>
            
        </div>
    </header>

    <section class="content sau">

        <h2 class="title">Productos</h2>
        <p>Nesecitas variedad de articulos para tus compañeros del hogar, aqui encontraras lo que buscas!!!</p>
        
        <div class="box-container">

            <div class="box">
                <i class="fab fa-facebook"></i>
                <h3>CatDogs_Chile</h3>
                <p>Siguenos y unete a la comunidad!!!</p>
            </div>
            <div class="box">
                <i class="fab fa-instagram"></i>
                <h3>CatDogs_Chile</h3>
                <p>Siguenos y unete a la comunidad!!!</p>
            </div>
            <div class="box">
                <i class="fab fa-linkedin"></i>
                <h3>CatDogs PetShops</h3>
                <p>Siguenos y unete a la comunidad!!!</p>
            </div>

        </div>

    </section>

    <section class="content about">

        <h2 class="title">Blog</h2>
        <p>Un espacio para compartir ideas  y tips para cuidar a nuestros compañeros.
        </p>

        <a href="#" class="btn">Saber mas!!!</a>

    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">Trabaja Con Nosotros</h2>
            <p>Unete a este equipo, que le tiene un gran cariño a nuestros compañeros de cuatro patas!!!
            </p>

            <a href="#" class="btn">Saber mas!!!</a>

        </article>

    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>Contacto@CatDogs.cl</p>
        <div class="box-container">

            <div class="box">
                <i class="fab fa-facebook"></i>
                <h3>CatDogs_Chile</h3>
                <p>Siguenos y unete a la comunidad!!!</p>
            </div>
            <div class="box">
                <i class="fab fa-instagram"></i>
                <h3>CatDogs_Chile</h3>
                <p>Siguenos y unete a la comunidad!!!</p>
            </div>
            <div class="box">
                <i class="fab fa-linkedin"></i>
                <h3>CatDogs PetShops</h3>
                <p>Siguenos y unete a la comunidad!!!</p>
            </div>

        </div>
        <figure class="map">
            <img src="img/mapa.jpg" height="220px" width="100%" alt="mapa">
        </figure>
    </section>
    
</body>

</html>